<ion-view view-title="{{pagina}}">
	<ion-content>

		<div class="list card card-dash">
			<div class="item item-text-wrap item-icon-left button-right">
				<i class="icon ion-ios-world-outline"></i>
				Notícias
				<a class="button button-outline button-light btn-num" type="button" href="#/app/noticias">{{visualizaNoticia.length}}</a>
			</div>
		</div>

		<div class="list card card-dash">
			<div class="item item-text-wrap item-icon-left button-right">
				<i class="icon ion-ios-star-half"></i>
				Eventos
				<a class="button button-outline button-light btn-num" type="button" href="#/app/eventos">{{visualizaEvento.length}}</a>
			</div>
		</div>

		<div class="list card card-dash">
			<div class="item item-text-wrap item-icon-left button-right">
				<i class="icon ion-android-attach"></i>
				Arquivos
				<a class="button button-outline button-light btn-num" type="button" href="#/app/arquivos">{{visualizaArquivo.length}}</a>
			</div>
		</div>

		<div class="list card card-dash">
			<div class="item item-text-wrap item-icon-left button-right">
				<i class="icon ion-android-person-add"></i>
				Contatos
				<a class="button button-outline button-light btn-num" type="button" href="#/app/contatos">{{visualizaContato.length}}</a>
			</div>
		</div>

	</ion-content>
</ion-view>
