<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close href="#/app/browse" class="item-icon-left">
          <i class="icon ion-grid"></i>
          Dashboard
        </ion-item>

        <ion-item menu-close href="#/app/noticias" class="item-icon-left">
          <i class="icon ion-ios-world-outline"></i>
          Notícias
        </ion-item>

        <ion-item menu-close href="#/app/eventos" class="item-icon-left">
          <i class="icon ion-ios-star-half"></i>
          Eventos
        </ion-item>

        <ion-item menu-close href="#/app/usuarios" class="item-icon-left">
          <i class="icon ion-android-people"></i>
          Usuários
        </ion-item>

        <ion-item menu-close href="#" class="item-icon-left" ng-click="logOff()">
          <i class="icon ion-log-out"></i>
          Sair
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>